@import 'button';

.primary {
  @extend %standart-button;


  background-color: var(--color-accent);
  color: var(--color-text);

  &:hover {
    background-color: var(--color-text);
    color: var(--color-bg);
  }

  &.active {
    background-color: var(--color-text);
    color: var(--color-bg);
  }

}

.secondary {
  @extend %standart-button;

  background-color: var(--color-text);
  color: var(--color-bg);

  &:hover {
    background-color: var(--color-accent);
    color: var(--color-text);
  }

  &.active {
    background-color: var(--color-accent);
    color: var(--color-text);
  }
}

.transparent {
  @extend %standart-button;


  background-color: transparent;
  color: var(--color-text);

  &:hover {
    background-color: var(--color-accent);
  }

  &.active {
    background-color: var(--color-accent);
  }
}

.link {
  @extend %standart-button;

  background-color: transparent;
  color: var(--color-text);

  &:hover {
    color: var(--color-accent);
  }

}

.outline {
  @extend %standart-button;

  background-color: transparent;
  border: 1px solid var(--color-text);
  color: var(--color-text);

  &.active {
    background-color: var(--color-accent);
    border: 1px solid var(--color-accent);
  }

}



.mediaIconButton {
  @extend %button-base;
  display: flex;

  padding: var(--s2);
  border-radius: 50%;
  background-color: var(--color-text);
  color: var(--color-bg);

  &:hover {
    background-color: var(--color-accent);
    color: var(--color-text);
  }
}

.primaryIconButton {
  @extend %button-base;

  background-color: transparent;
  color: var(--color-text);

  &:hover {
    color: var(--color-accent);
  }
}