.form {
  display: flex;
  flex-direction: column;
  gap: var(--s14);
  padding: var(--s13) var(--s12);
  width: fit-content;

  border-radius: var(--s9);
  background: rgba(226, 235, 250, 0.25);
  backdrop-filter: blur(50px);
  width: 30vw;

  min-width: 400px;
}



.header {
  display: flex;
  flex-direction: column;
  gap: var(--s4);
}

.actions {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--s8);
  width: 100%;
}

.alternativeOptionsWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--s8);
}

.dividerBlock {
  display: flex;
  align-items: center;
  gap: var(--s6);
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--color-text);
}

.alternativeOptionsContent {
  width: 100%;
  justify-content: center;
  display: flex;
  gap: var(--s3);
}
