.text {
  transition: color 0.5s ease;

  &.regular {
    font-weight: 400;
    line-height: 160%;
  }

  &.bold {
    font-weight: 600;
    line-height: normal;
  }

  &.span {
    color: var(--text-primary);
    font-size: var(--fs1);
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }

  &.p {
    color: var(--text-primary);
    font-size: var(--fs1);
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }

  &.h2 {
    color: var(--text-secondary);
    font-size: var(--fs2);
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }

  &.h1 {
    color: var(--text-secondary);
    font-size: var(--fs3);
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
  }

  &.active {
    color: var(--accent);
  }
}
