.menu {
  display: flex;
  flex-direction: column;
  gap: var(--s3);
  overflow: hidden;
  width: fit-content;
  padding-right: var(--s8);
  height: fit-content;
}

.showHiddenField {
  display: flex;
  gap: var(--s6);
  align-items: center;
  width: max-content;
}
