:root {
  // all- themes
  --color-media: #150050;
  --color-accent: #FF453B;

  // light-theme
  --color-bg-light: #E2EBFA;
  --color-text-light: #21262d;

  // dark-theme
  --color-bg-dark: #21262d;
  --color-text-dark: #E2EBFA;

  // default-theme
  --color-bg-default: #230576;
  --color-text-default: #E2EBFA;
}

[data-theme='light'] {
  --color-bg: var(--color-bg-light);
  --color-text: var(--color-text-light);
}

[data-theme='dark'] {
  --color-bg: var(--color-bg-dark);
  --color-text: var(--color-text-dark);
}

[data-theme='default'] {
  --color-bg: var(--color-bg-default);
  --color-text: var(--color-text-default);
}