.field {
  font-family: var(--font-family);
  font-size: var(--fs1);
  font-weight: 400;
  color: var(--text-primary);

  &::placeholder {
    color: var(--highlight);
  }

  border: none;
  outline: none;

  width: 100%;
  padding: var(--s2) 0;
  border-bottom: 1px solid var(--highlight);
  background-color: transparent;
}

.label {
  font-size: 12px;
  font-weight: 600;
  line-height: 160%;
  color: var(--highlight);
  font-family: var(--font-family);
}