%button-base {
  user-select: none;
  cursor: pointer;
  width: fit-content;
  border: none;
  outline: none;
  transition: all 0.5s ease;
  position: relative;

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

%button-with-icon {
  &.withIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--s2);

    & svg {
      transform: scale(0.7);
    }
  }
}

%button-text {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;

  &.smallText {
    font-size: 14px;
  }

  &.normalText {
    font-size: 19px;
  }
}

%button-padding {
  &.noPadding {
    padding: 0;
  }

  &.smallPadding {
    padding: var(--s2) var(--s4);
  }

  &.normalPadding {
    padding: var(--s3) var(--s5);
  }

  &.bigPadding {
    padding: var(--s4) var(--s7);
  }
}

%button-radius {
  &.noRadius {
    border-radius: 0;
  }
  &.smallRadius {
    border-radius: var(--s3);
  }

  &.normalRadius {
    border-radius: var(--s8);
  }
}

%standart-button {
  @extend %button-base;
  @extend %button-with-icon;
  @extend %button-text;
  @extend %button-padding;
  @extend %button-radius;
}
