@import "reset";
@import "themes";
@import "global-variables";
@import "fonts";

body {
  background-color: var(--bg);
  color: var(--text-primary);
  font-family: var(--font-family);
  overflow-y: scroll;
}
