.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  align-items: center;
  height: 100vh;
}

.logoWrapper {
  justify-self: center;
}