.container {
  display: grid;
  position: relative;
  gap: var(--s3);

  min-height: 600px;

  &.grid {
    grid-template-columns: repeat(3, 1fr);

    &.twoColumns {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &.list {
    grid-template-columns: 1fr;
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  background: linear-gradient(180deg, transparent, var(--bg));
  width: 100%;
  height: var(--s50);
}