.container {
  margin-top: var(--s7);
  gap: var(--s3);

  &.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &.list {
    display: grid;
    grid-template-columns: 1fr;
  }
}



.hackaton {
  display: flex;
  flex-direction: column;
  gap: var(--s3);
  border: 1px solid transparent;
  transition: all 0.5s ease;
  cursor: pointer;
  padding: var(--s4) var(--s6);
  border-radius: var(--s6);

  &.active {
    border: 1px solid var(--color-accent);
  }
}

.roles {
  display: flex;
  gap: var(--s2);
  flex-wrap: wrap;
}

.bottomMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto; // Убрать когда нужно будет переделывать сетку
}

.actions {
  display: flex;
  gap: var(--s2); // Починить когда появяться нормальные свгшки
}