.menu {
  transition-duration: 0.5s;
  transition-property: color, border-color;
  display: flex;
  flex-direction: column;
  gap: var(--s1);

  padding-bottom: var(--s3);
  border-bottom: 1px solid;
  color: var(--text-primary);
  border-color: var(--highlight);

  &:hover {
    color: var(--accent);
    border-color: var(--accent);
  }
}

.input {
  display: none;


  &:checked {
    ~.face {
      .arrow {
        transform: rotate(-90deg);
      }

    }

    ~.items {
      height: fit-content;
      opacity: 1;
      display: flex;


    }
  }
}

.face {
  cursor: pointer;
  display: flex;
  position: relative;
}

.text {
  user-select: none;
}

.arrow {
  position: absolute;
  right: 0;
  transition: transform 0.5s ease;
}

.items {
  display: none;
  transition: height, opacity 0.5s ease;
  height: 0px;
  opacity: 0;
  overflow: hidden;
  flex-direction: column;
  gap: var(--s1);
}