.checkbox {
  transition: background-color 0.3s ease;

  display: flex;
  align-items: center;
  padding: 1px;

  min-width: var(--s10);
  width: var(--s10);
  height: fit-content;
  border-radius: var(--s3);
  background-color: var(--text-primary);
  cursor: pointer;


  &.checked {
    background-color: var(--accent);
  }

  &:hover {
    & .switcher {
      transition: width 0.3s ease;
      width: var(--s7);
    }
  }
}

.switcher {
  transition: background-color 0.3s ease;
  background-color: var(--bg);
  height: calc(var(--s6) - 2px);
  width: calc(var(--s6) - 2px);
  border-radius: var(--s6);

  margin-left: 0px;


  &.checked {
    margin-left: auto;
    background-color: var(--text-primary);
  }
}

.input {
  display: none;
}